<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}"><img style="height: 50px; width:150px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/800px-Instagram_logo.svg.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Главная</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="friends.html">Друзья</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'post_create' %}">Создать публикацию</a>
              </li>
              {% endif %}
              
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="#">{{ request.user.username }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user_login' %}">Войти</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Зарегистрироваться</a>
              </li>
              {% endif %}
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Искать..." aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Найти</button>
            </form>
          </div>
        </div>
      </nav>
</div>